:root {
    --basic-color: #fff;
    --additional-color: #d9d9d9;
    --accent-color: #b47b48;
    --background-color: #202023;
}

body {
    font-family: "Inter", sans-serif;
    /* font-family: 'Italiana', serif; */
}

a {
    text-decoration: none;
    font-style: normal;
}

li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin-top: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    width: 1030px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* header */
.header {
    position: absolute;
}

.header-nav {
    margin-top: 55px;
    margin-left: 156px;
}

.header-menu {
    display: flex;
    gap: 30px;
}

.header-item {}

.header-link {
    color: var(--basic-color);

    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

/* hero */
.hero>.container {
    padding-top: 155px;
}


.hero {
    background-image: url(../img/hero.png);
    width: 1431px;
    height: 1023px;
    margin-left: auto;
    margin-right: auto;
}

.hero-title {
    color: var(--basic-color);
    margin-bottom: 22px;
    font-size: 70px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    width: 580px;
}

.hero-text {
    color: var(--basic-color);

    font-size: 21px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 570px;
}

.hero-btn {
    color: var(--basic-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;

    border-radius: 17px;
    background-color: #b47b48;

    padding: 16px 34px 7px;
}

.hero-btn:hover,
.hero-btn:focus {
    color: var(--accent-color);
    background-color: var(--basic-color);
    cursor: pointer;
}

.hero-list {
    display: flex;
    margin-top: 125px;
    /* gap: 104px; */
}

.hero-item {
    display: flex;
    /* width: 310px;
    height: 225px;

    padding-top: 51px;
    padding-bottom: 44px;
    padding-left: 12px; */
    background-color: #272727;
}

.hero-box {
    padding-top: 51px;
}

/* .hero-list-img{
    width: 100px;
} */

.hero-list-taim {
    color: var(--basic-color);

    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.hero-list-title {
    color: var(--basic-color);

    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.hero-list-btn {
    color: var(--basic-color);
    font-size: 16px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;

    background-color: #c85312;

    padding: 10px 22px 5px;
}

/* menu */
.menu {
    margin-left: auto;
    margin-right: auto;
    width: 1431px;
    padding-top: 21px;
    padding-bottom: 70px;
    background-color: var(--background-color);
}

.menu-title {
    color: var(--basic-color);
    text-align: center;

    font-size: 64px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}

.menu-list {
    display: flex;
    flex-wrap: wrap;
    gap: 150px;
}

.menu-item:nth-child(1) {
    position: relative;
}

.menu-item:nth-child(2) {
    position: relative;
    width: 328px;
    height: 229px;
    background-image: url(../img/menu-3.png), url(../img/pngwing.png), url(../img/menu-4.png);
    background-repeat: no-repeat;
    background-position: bottom 20px left 180px, bottom 0px right 50px, top -10px right 10px;
    background-size: 155px, 272px, 230px;
}

.menu-box {
    position: absolute;
    bottom: -100px;
    left: 90px;
}

.menu-list-img {}

.menu-list-title {
    text-align: center;
    color: var(--basic-color);
    font-size: 25.92px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.menu-btn {
    justify-content: center;
    display: flex;
    text-align: center;
    color: var(--basic-color);
    font-size: 25.92px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

    border-radius: 17px;
    background-color: #b47b48;

    padding: 5px 35px 5px 26px;
}

/* Quality  */
.quality {
    margin-left: auto;
        margin-right: auto;
        width: 1431px;
    padding-top: 90px;
    padding-bottom: 64px;
    background-color: var(--background-color);
}

.quality-title {
    text-align: center;
    color: var(--basic-color);
    font-family: "Italiana", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.quality-list {
    display: flex;
}

.quality-item {}

.quality-list-img {}

.quality-item-list {
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: rgba(242, 242, 242, 0.3);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(18px);
}

.quality-item-number {
    color: var(--basic-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/* advantages */
.advantages {

    background: linear-gradient(90deg, #000 8.49%, rgba(3, 3, 3, 0) 77.17%);
    background-image: url(../img/advantages-bg.png),
        url(../img/advantages-bg-2.png);
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    height: 580px;
}

.advantages-title {
    padding-top: 55px;
    color: var(--additional-color);
    font-family: "Italiana", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    width: 735px;
}

.advantages-list {
    display: flex;
    gap: 202px;
    margin-top: 132px;
}

.advantages-item {}

.advantages-text {
    margin-top: 13px;
    text-align: center;
    color: var(--basic-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* contacts */
.contacts {
    background-color: var(--background-color);
    padding-top: 66px;
    padding-bottom: 55px;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
    /* height: 704px; */
}

.contacts-title {
    color: var(--basic-color);
    font-family: "Italiana", sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contacts-box {
    display: flex;
}

.contacts-img {
    margin-right: 132px;
}

.address {
    margin-right: 30px;
}

.contacts-title-add {
    color: var(--basic-color);
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contacts-link {
    color: var(--basic-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.contacts-text {
    color: var(--basic-color);
    text-align: center;

    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

/* footer */
.footer {
    position: relative;
    background-color: var(--background-color);
    width: 1446px;
    padding-top: 40px;
    padding-bottom: 44px;
    width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.footer>.container {
    display: flex;
}

.footer-title {
    color: var(--basic-color);
    width: 322.337px;

    font-size: 40px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.footer-span {
    color: var(--basic-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.footer-list {
    display: flex;
}

.footer-item {
    margin-left: 50px;
}

.footer-item-title {
    color: var(--basic-color);
    text-align: center;

    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.footer-item-text {
    color: var(--basic-color);
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

.footer-rights {
    position: absolute;
    right: 500px;
    bottom: -0;
    color: var(--basic-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}

/* modal */
body.show-modal .backdrop {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

body.show-modal .modal {
    transform: scale(1);
}

.backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;

    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

.modal {
    padding-top: 94px;
    padding-bottom: 94px;
    padding-left: 83px;
    border-radius: 50px;
    max-width: 990px;
    width: 100%;
    min-height: 669px;
    background-color: #fff;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);

    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
    display: flex;
    justify-content: space-between;
}

.input-modal{
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    width: 412px;
    padding: 21px 10px 22px;
    border-style: hidden;
    outline: none;
    align-self: center;
    background-color: #f5f5f5;
}

.input-modal:focus-within{
    border: 1px solid gray;
}

.input-modal::placeholder{
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.modal-title{
    color: #000;
    font-size: 48px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.modal-button{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    border-radius: 17px;
    background: #B47B48;
    padding-top: 16px;
    padding-bottom: 7px;
    padding-left: 34px;
    padding-right: 34px;
    margin-top: 64px;
}

.modal-form{
    display: flex;
    flex-direction: column;
    gap: 71px;
}

.modal-jpg{
    align-self: center;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}